extends layout

block content
  nav
    div.nav-wrapper
      a.brand-logo(href="#!") 
        i.material-icons(style="margin:0px 5px 0px 20px") directions_car 
        | CarPic
      ul.right.hide-on-med-and-down
        li
          a#uploadCarPicModalBtn.waves-effect.waves-light.btn.modal-trigger(href="#uploadModal")
            | upload car picture
            i.material-icons.right(style="margin-left: 5px") file_upload
          a#loginModalBtn.waves-effect.waves-light.btn.modal-trigger(href="#loginModal" style="margin-left: 5px")
            | Login

  div#gallery
    

  div#uploadModal.modal
    div.modal-content(style="text-align: center")
      h3 자동차 사진 업로드 
      div.file-field.input-field
        div.btn
          span Select Picture
          input#selectFile(type="file" accept=".png,.jpg,.bmp,.gif")
        div.file-path-wrapper
          input#selectFileName.file-path.validate(type="text")
      img#previewCarPic.upload-car-pic
    div.modal-footer(style="text-align: center")
      a#uploadCarPicBtn.waves-effect.waves-light.btn(style="margin-right: 8px")
        | UPLOAD
      a.modal-action.modal-close.waves-effect.waves-light.btn(href="#!")
        | CLOSE

  div#loginModal.modal(style="width: 500px")
    form#loginForm
      div.modal-content(style="text-align: center")
        h3 로그인
        div.row
          div.input-field.col.s12
            input#userid.validate(type="text")
            label(for="userid") 아이디
        div.row
          div.input-field.col.s12
            input#passwd.validate(type="password")
            label(for="passwd") 비밀번호
      div.modal-footer(style="text-align: center")
        a#loginBtn.waves-effect.waves-light.btn(style="margin-right: 8px")
          | LOGIN
        a#loginModalCloseBtn.modal-action.modal-close.waves-effect.waves-light.btn(href="#!")
          | CLOSE
      