extends layout

block content
  nav
    div.nav-wrapper
      a.brand-logo(href="#!") 
        i.material-icons(style="margin:0px 5px 0px 20px") directions_car 
        | CarPic
      ul.right.hide-on-med-and-down
        li
          a#uploadBtn.waves-effect.waves-light.btn.modal-trigger(href="#uploadModal")
            | upload car picture
            i.material-icons.right(style="margin-left: 5px") file_upload

  div#uploadModal.modal
    div.modal-content
      h4 자동차 사진 업로드 
      p asdfsdfsd
    div.modal-footer
      a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!")