
#previewCarPic {
  display : none;
  width: 80%;
  margin: 8px auto;
}

.gallery-card {
  margin: 16px;
  width: 300px;
  display: inline-block;
}

#gallery {
  width: 90%;
  margin: 16px auto 0px;
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}